.wrapper {
  margin: auto;
}

#root {
  height: 100%;
}

#root > div:nth-child(2){
  height: initial;
}

.wrapper ~ * {
  height: initial;
}

.wrapper div:not(:first-child, .chat-list, .chat-list > div) {
  height: initial;
}

aside .chat-list {
  height: 100vh;
}

.menu-btn {
  position: relative;
}

.profile-panel--action-list {
  position: absolute;
  width: initial;
  min-width: 130px;
  right: 0;
  z-index: 2;
}

.profile-panel--action-list > div {
  font-size: 14px;
  height: initial;
}

.profile-panel--avatar.online {
  border-color: #46d362;
}

.profile-panel--avatar.offline {
  border-color: gray;
}

.profile-panel--avatar.away {
  border-color: #f3ba4a;
}

.profile-panel--avatar.busy {
  border-color: #fd2828;
}

.modal-backdrop {
  z-index: 0;
  height: 100%;
}