.wrapper {
  margin: auto;
}

.container-fluid {
  max-width: 1649px;
}

#root {
  height: 100%;
}

#root > div:nth-child(2){
  height: initial;
}

.wrapper ~ * {
  height: initial;
}

.wrapper div:not(:first-child, .chat-list, .chat-list > div) {
  height: initial;
}

aside .chat-list {
  height: 100vh;
}

.menu-btn {
  position: relative;
}

.profile-panel--action-list {
  position: absolute;
  width: initial;
  min-width: 130px;
  right: 0;
  z-index: 2;
}

.profile-panel--action-list > div {
  font-size: 14px;
  height: initial;
}

.profile-panel--avatar.online {
  border-color: #46d362;
}

.profile-panel--avatar.offline {
  border-color: gray;
}

.profile-panel--avatar.away {
  border-color: #f3ba4a;
}

.profile-panel--avatar.busy {
  border-color: #fd2828;
}

.modal-backdrop {
  z-index: 0;
  height: 100%;
}

.scrollable-feed {
  overflow-x: hidden;
  padding-right: 30px;
}

.fa-backward {
  display: none;
  color: #f3ba4a;
  padding-right: 20px;
}

@media screen and (max-width: 420px) {
  main.col-md-8 {
    padding: 0;
  }
  .scrollable-feed {
    padding-right: 0;
  }
  .toolbar input::placeholder {
    font-size: .8em;
  }
  .toolbar input {
    font-size: .8em;
  }
  .toolbar--send-btn {
    min-width: auto;
  }
  .toolbar input {
    padding-right: 65px;
  }
  .toolbar--send-btn i {
    padding-right: 5px;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-y: hidden;
  }
  .toolbar-items i {
    font-size: 16px;
  }
  .toolbar-items > button {
    padding: 0 10px;
  }
  .profile-panel .fa-backward {
    display: block;
  }
}

.toolbar {
  position: relative;
}

.emoji-picker-react * {
  height: initial;
}

.messages-item--to {
  position: relative;
}

.messages .fa-window-close {
  position: absolute;
  color: red;
  top: 0;
  right: 0;
}